html {
  box-sizing: border-box;
  font-size: 10px;
}

.accord-divide {
  margin: 5rem;
}
.accordion-tabs {
  width: 80vw;
  height: 40rem;
  margin: auto;
}

.accordion-tabs .tab {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.accordion-tabs {
  border: 1px solid #dcdcdc;
}

p {
  margin: none;
  width: 75%;
}


.accordion-tabs .tab-content {
  display: none;
  padding: 1rem;
  width: 100%;
}

.tab-content {
  width: 50vw;
}

.tab-anchor {
  border-top: 1px solid #dcdcdc;
  color: #333;
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
  border: 1px solid #dcdcdc;
  border-bottom-color: #fff;
  margin-bottom: -1px;
  background-color: #EBEBEB;
}

@media screen and (min-width: 910px) {
  .accordion-tabs {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    /* grid-template-rows: 25% 25% 25% 25%; */
  }


  .tab-content {
    display: none;
    padding: 1rem;
    width: 100%;
  }

  .tab-content .open {
    background-color: green;
  }


  .tab-anchor.active {

    border: 1px solid #dcdcdc;
    border-bottom-color: #fff;
    margin-bottom: -1px;
    background-color: #fff;
  }

  .first {
    width: 291%;
    margin-left: 22rem;
  }

  .second {
    width: 302%;
    margin-left: -5rem;
  }

  .third {
    width: 290%;
    margin-left: -33rem;
  }

  .fourth {
    width: 292%;
    margin-left: -63rem;
  }

  .accord {
    position: absolute;
    top: 220px;
    left: 162px;
  }
}
