.header-bar {
  background-color: var(--borders);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

li {
 display: block;
 transition-duration: 0.5s;
}

li:hover {
  cursor: pointer;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}
/* .menu .drop-down:hover {
  display: unset;
}
.drop-down {
  display: none;
}

.li_wireframe {
  background-image: url('../wireframeimage.png');
  background-size: cover;
  height: 5rem;
  width: 5rem;
  border-radius: 100%;
}

.master-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
} */


/* li {
 display: block;
 transition-duration: 0.5s;
}

li:hover {
  cursor: pointer;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
} */
