header {
  background-color: var(--header-button);
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1,
h2,
button {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

h2 {
  font-weight: 600;
}

.pattrn {
  margin: 2rem;
  font-size: 3rem;
}

.party {
  color: #34d1d1;
}

.steven {
  margin-right: 1rem;
}
